body {
  padding-top: 70px;
  background-color: rgb(200,200,210);
  align-items: center;
  font-family: sans-serif;
  /* padding: 30px; */
  margin: 0;
}
h1 {
  font-size: 48px;
  color: black;
  font-weight: 300;
  text-align: left;
}

h2 {
  font-size: 24px;
  font-family: sans-serif;
  margin: 0px;
}
h3 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0px;
}
h4 {
  font-size: 24px;
  font-family: cursive;
}

p1 {
  font-size: 16px;
  font-family: sans-serif;
  font-color: black;
  font-weight: 5500;
}

/* About Us */

.aboutus {
  font-size: 46px;
}

.box1 {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 20px;
}

/* defining size of image */
.sizing1 {
  width:559px;
  height:373px;
  border:2px;
  border-radius: 20px;
}

/* creating hover */
#wrapper p {
  #wrapper .text {
  position:relative;
  bottom:30px;
  left:0px;
  visibility:hidden;
  }

  #wrapper:hover .text {
  visibility:visible;
  }

#imagethree
background-image: url(images/three.jpg)
background-size: contain;

/* contact */
.contactus {
text-align: right;
position: relative;
padding: 10px 10px 10px 10px;
}
<<<<<<< HEAD
=======

.btn-newsletter {
  background-color: rgb(180,0,0);
  color: white;
}

/* TRAINERS GRID */
  div.trainers{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 0 50px;
  }

  /* TIMETABLE */
    div.timetable{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: auto auto auto auto;
      padding: 0 50px;
    }
  /* TIMETABLE CARD */
    div.timetable-grid-item {
      height: 450px;
      /* background: url("../images/one.jpg"); */
      display: inline-grid;
      /* background-size: contain; */
      /* margin: 300px 0 0 0; */
      position: relative;
      border-radius: 10px;
      overflow: hidden;
    }
    /* .timetable-image {
      background: url("../images/one.jpg");
    } */

  /* TIMETABLE CARD TEXT */
    div.timetable-details {
      background-color: white;
      display: block;
      padding: 20px;
      position: absolute;
      bottom: 0;
      left:0;
      right: 0;
      /* margin: 300px 0 0 0; */
    }
    li.timetable-details {
      display: block;
    }


  /* Timetable cards image backgrounds */
  #Mondays {
    background: url("https://images.unsplash.com/photo-1514525263139-f7c8f10ae61d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2674f645ada2fc265dc291d5b4a6d9&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
    background-size: contain;
    background-position: 0 -80px;
  }
  #Tuesdays {
    background: url("https://images.unsplash.com/photo-1520529301226-42abc4cd766b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=94badd3aa6de707adc6f4ebef5d20faa&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
    background-size: contain;
    background-position: 0 -7px;
  }
  #Fridays {
    background: url("https://images.unsplash.com/photo-1509255929945-586a420363cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1837886ce541e402e3945f937c3afe08&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
    background-size: contain;
    background-position: 0 -30px;
  }
  #Thursdays {
    background: url("https://images.unsplash.com/photo-1490225421893-2908ffad8593?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2b7d462989cbde19fa9f68a898521977&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
    background-size: contain;
  }
  #Wednesdays {
    background: url("https://images.unsplash.com/photo-1476480862126-209bfaa8edc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=41900ca14b1acd536efbaf79f09e2632&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
    background-size: contain;
    background-position: 0 -10px;
  }
  #Sundays {
    background: url("https://images.unsplash.com/photo-1499636169083-d8555e991375?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5cbecdeab06969920d02af729ff031ad&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
    background-size: contain;
    background-position: 0 240px;
  }
  #Saturdays {
    background: url("https://images.unsplash.com/photo-1477332552946-cfb384aeaf1c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=351a08edec0a096c0ca18afe7d121a27&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
    background-size: contain;
      background-position: 0 -25px;
  }
  #scroll{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    text-align: center;
    margin: 30px;
  }

/* TRAINER CARD */
  col-sm-4.trainer-grid-item {
    height: 450px;
    /* background: url("../images/one.jpg"); */
    display: inline-grid;
    /* background-size: contain; */
    /* margin: 300px 0 0 0; */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }

  #Trainer1 {
    background: url("https://images.unsplash.com/photo-1514525263139-f7c8f10ae61d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2674f645ada2fc265dc291d5b4a6d9&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
    background-size: cover;
    background-position: 0 -80px;
    }

#Trainer3 {
  background: url("https://images.unsplash.com/photo-1499636169083-d8555e991375?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5cbecdeab06969920d02af729ff031ad&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  background-size: cover;
  background-position: 0 -30px;
    }

#Trainer2 {
  background: url(../images/two.jpg);
  background-size: cover;
    background-position: 0 -120px;
    }
>>>>>>> About3
